@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    -fx-white-mint: #F2F6FC;
    -fx-fuck: #FCF6F2;
    -fx-white: #FCFCFC;
    -fx-blue: #349AF7;
    -fx-blue-dark: #0869C4;
}

.root{
    -fx-border-color: #637AA6;
}

.root *{
    -fx-font-family: Montserrat;
    -fx-border-radius: 0;
}

.button{
    -fx-border-width: 0;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-focus-color: none;
    -fx-faint-focus-color: transparent;
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-white;
    -fx-border-style: none;
}

.button:hover{
    -fx-background-color: -fx-blue-dark;
}

#left-column{
    -fx-background-color: -fx-blue;
}

#left-column .label{
    -fx-text-fill: -fx-white;
    -fx-font-size: 2em;
    -fx-text-alignment: center;
}

.details-column{
    -fx-background-color: -fx-white;
    -fx-font-size: 1.5em;
}

#details-header{
    -fx-font-size: 2em;
    -fx-padding: 30 0 0 10;
}

.error-label{
    -fx-text-fill: #E3170A;
}